<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
<link rel="stylesheet" href="fonts.css">
<link rel="stylesheet" href="sidebar.css">

![logo](logo.png){:style="max-width:200px;"}

## {{course_number}} {:style="margin-bottom:-10px; color: #00543c;"}
**{{course_name}}**

---

| Class Links |
|-------------|
| [Timeline](timeline.html) |
| [Syllabus](syllabus.html) |
| [Getting Help](help.html) |
