<link rel="stylesheet" href="fonts.css">
<link rel="stylesheet" href="sidebar.css">

![logo](logo.png){:style="max-width:200px;"}

## {{course_number}} {:style="margin-bottom:-10px;"}
**{{course_name}}**

---

| Class Links |
|-------------|
| [Timeline](timeline.html) |
| [Syllabus](syllabus.html) |
| [Getting Help](help.html) |
