
table th:nth-of-type(1) {
	width: 10%;
}

table th:nth-of-type(3) {
	width: 25%;
}

tr:nth-child(odd) {
	border-bottom: 1px solid white;
}

table {
	background-color: lightgray;
	border-spacing: 0;
	border-collapse: collapse;
	margin-top: 20px;
	margin-left: 50px;
	margin-right: 50px;
	width: 80vw;
}

td {
	padding: 5px;
}

th {
	text-align: left;
	background-color: white;
}

